# TaskFlow - DEV local

MYSQL_DATABASE=tasks
MYSQL_USER=taskflow
MYSQL_PASSWORD=taskflow
MYSQL_ROOT_PASSWORD=root
MYSQL_PORT=3306

DATABASE_URL=mysql://taskflow:taskflow@mysql-db:3306/tasks
JWT_SECRET=dev_jwt_secret_change_me

PORT=3001
WEB_PORT=3000
API_PORT=3001
HTTP_PORT=8081
CHOKIDAR_USEPOLLING=true
